In [96]:
# Import required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", dtype={"TIME OCC": str})
crimes.head()

       DR_NO   Date Rptd  ...  Status Desc                                 LOCATION
0  220314085  2022-07-22  ...  Invest Cont  2500 S  SYCAMORE                     AV
1  222013040  2022-08-06  ...  Invest Cont  3300    SAN MARINO                   ST
2  220614831  2022-08-18  ...  Invest Cont                        1900    TRANSIENT
3  231207725  2023-02-27  ...  Invest Cont  6200    4TH                          AV
4  220213256  2022-07-14  ...  Invest Cont  1200 W  7TH                          ST

[5 rows x 12 columns]

In [97]:

crimes["TIME OCC"] = crimes["TIME OCC"].astype("str")
crimes["TIME OCC"] = crimes["TIME OCC"].str[:2]
crimes["TIME OCC"] = crimes["TIME OCC"].astype("int")
peak_crime_hour = crimes["TIME OCC"].mode()[0]

print("The peak crime hour is :", peak_crime_hour, "hour")

The peak crime hour is : 12 hour

In [98]:
night_crime = crimes[(crimes["TIME OCC"] >= 2200) | (crimes["TIME OCC"] < 400)]
night_crime["AREA NAME"] = night_crime["AREA NAME"].astype("str")
peak_night_crime_location = night_crime["AREA NAME"].mode()[0]
print("The most dangerous area at night is :", peak_night_crime_location)

The most dangerous area at night is : Central

In [102]:
bins = [0, 17, 25, 34, 44, 54, 64, crimes["Vict Age"].max()]
labels = ["0-17", "18-25", "26-34", "35-44", "45-54", "55-64", "65+"]
crimes["victim_ages"] = pd.cut(crimes["Vict Age"], bins=bins, labels=labels)
victim_ages = crimes.groupby("victim_ages").size().astype("object")
print("The total number of crime per victim age bin is :\n\n",victim_ages)

The total number of crime per victim age bin is :

 victim_ages
0-17      4528
18-25    28291
26-34    47470
35-44    42157
45-54    28353
55-64    20169
65+      14747
dtype: object